@model HomeModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindo, @Model.Nome</h1>
    <p>Meu Primeiro Site em MVC</p>
    <span>Seu E-mail é @Model.Email</span>
</div>
 